/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add {
  background-image: url(/kakeibo/package/static/sprite01.png);
  background-position: 0px 0px;
  width: 24px;
  height: 30px;
}
.icon-left {
  background-image: url(/kakeibo/package/static/sprite01.png);
  background-position: 0px -30px;
  width: 15px;
  height: 15px;
}
.icon-linegraph {
  background-image: url(/kakeibo/package/static/sprite01.png);
  background-position: -24px 0px;
  width: 24px;
  height: 30px;
}
.icon-right {
  background-image: url(/kakeibo/package/static/sprite01.png);
  background-position: -15px -30px;
  width: 15px;
  height: 15px;
}
